/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}
/* HEADER */

header {
  background-color: rgba(25, 25, 25, 0.8);
  color: white;
  padding: 2px 0;
  position: absolute;
  z-index: 1000;
  width: 100%;
  position: fixed;
  height: 6.5%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content ul {
  list-style: none;
}
.header__content ul a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
}
.header__content ul a:hover {
  color: #00cdce;
}
.header__content ul .active a{
  color: #00cdce;
  transition: all .5s;
} 
.header__content ul li {
  display: inline-block;
  margin: 0 26px;
  text-align: center;
}

.header__content ul li::after {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: white;
  margin-top: 8px;
  transition: all 0.5s;
}
.header__content ul li:hover::after {
  opacity: 0;
}
.header__content p {
  font-size: 56px;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 2px;
  padding-left: 19px;
  padding-top: 5px;
}
.header__p span {
  color: #00cdce;
}
/* Animation */
.Carousel .owl-item.active img {
  animation: fadeIn ease 2s;
}
/* Carousel */
/* .Carousel{
    position: relative;
    background-image: url('../images/b1.jpg');
    height: 500px;
  } */
.item {
  width: 65%;
  margin: 0 auto;
  position: relative;
}
.item h2 {
  position: absolute;
  bottom: 40%;
  top: 40%;
  width: 100%;
  height: 100%;
  padding-bottom: 300px;
  color: white;
  font-size: 60px;
  font-weight: 900px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.item p {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  /* padding: 450px 550px; */
  color: white;
}
/* Intro */
.intro__content {
  width: 70%;
  margin: 0 auto;
}
.intro__tittle h3 {
  margin: 0.8em 0px;
  color: #000;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}
.intro__info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.intro__info i {
  font-size: 1em;
  color: #000;
  background: #fff;
  border: 1px solid #7f7777;
  cursor: pointer;
  top: 0;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  line-height: 98px;
  transition: all 0.5s;
}
.intro__info i:hover {
  background-color: #00cdce;
  color: white;
}
.intro__info p {
  line-height: 2em;
  font-size: 15px;
  color: #7f7777;
  margin-top: 0.8em;
}
.intro__tittle2 h4 {
  color: #00cdce;
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  line-height: 1.8em;
  text-align: center;
  font-weight: 550;
}
.intro__tittle2 p {
  margin: 5px 0 0 0;
  color: #000;
  font-size: 15px;
  text-align: center;
  line-height: 29px;
  padding-bottom: 60px;
}
/* Number */
.number {
  background-color: #00cdce;
  padding: 2em 0em;
}
.number__tittle h2 {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 4em;
  font-weight: 500;
  text-align: center;
}
.number__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.counter {
  font-size: 56px;
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}
.number__item h4 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 5px;
  color: #000;
}
/* Blog */
.blog {
  padding: 70px 0;
}
.blog h2{
  text-align: center;
  margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 30px;
  width: 50%;
  margin: 0 auto;
}

.blog__item {
  border-top: 4px solid #00cdce;
  font-size: 14px;
  line-height: 1.42857143;
  background: #efefef;
}
.blog__item img {
  display: block;
  width: 100%;
}
.blog__item h5{
  font-size: 1.6em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  display: inline-block;
}
.blog__small{
  padding: 21px;
}
.blog__small button{
  margin-top: 20px;
}
.btn a{
  color: white;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  padding: 7px 18px;
  background: #000;
  display: inline-block;
  transition: all .5s;
}
.btn a:hover{
  color: #00cdce;
}
.blog__small>h5>a{
  text-decoration: none;
    color: #00cdce;
    font-weight: 400;
    transition: all 0.5s;
}

/* .blog__small a:focus{
  color: #000;
} */
.blog__small>h5>a:hover{
  color: black;
}
/* Modal Trigger */
.modal-header{
  font-size: 2.6em;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  background: #00cdce;
}
.modal-body img{
  width: 100%;
}
.modal-body p{
  font-size: 15px;
    color: #999;
    text-align: left;
    padding: 2em 2em 1em;
    margin: 0 !important;
    line-height: 2em;
}
/* Video */
.video__content{
 height: 22em;
}
.video__item{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-column: 1 / span 1; */
}
.video__item2 h3{
  text-align: center;
  margin: 1em 0 0.5em;
  font-size: 42px;
  color: #000;
  font-weight: bold;
}
.video__item2{
  background-color: #00cdce;
  height: 50%;
}
.video__item2 p{
  text-align: center;
}
.video__item2 .btn{
  display: flex;
  justify-content: center;
}
.video__item1 img{
 height: 50%;
 width: 100%;
}
.video__item1{
  position: relative;
  
}
.video__item1 i{
 position: absolute;
 top: 19%;
  left: 42%;
  font-size: 35px;
  color: white;
  padding: 16px 16px;
  border-radius: 50%;
  background-color: rgb(0, 205, 206,0.5);
}
/* Portfolio */
.portfolio{
  margin: -40px 0;
}
.portfolio h2{
  text-align: center;
  font-weight: 500;
  font-size: 4em;
  padding-bottom: 25px;
}
.portfolio__content{
  display: grid;
 grid-template-columns: repeat(3,1fr);
 width: 43%;
 margin: 0 auto;
 gap: 12px 30px;
 margin-bottom: 100px;
  
}
.portfolio__item{
  position: relative;
  
}
.portfolio__item img{
  display: block;
  width: 100%;
  opacity: 1;
  transition: all .5s;
}
.portfolio__detail{
  position: absolute;
 top: 5%;
 left: 5%;
 width: 90%;
 height: 90%;
  background-color: rgb(0, 0, 0,0.8);
  color: #00cdce;
  text-align: center;
  padding-top: 30px;
  opacity: 0;
  transition: all .5s;
}
.portfolio__detail h3{
  font-size: 1.5em;
  color: #00cdce;
  text-transform: uppercase;
  padding: 0.5em 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 0.8em;
}
.portfolio__detail p{
  color: white;
}
.portfolio__item:hover .portfolio__detail{
 opacity: 1;
}
/* Subscribe */
.subscribe{
  padding: 5px;
  background-color: #00cdce;
}
.subscribe__content{
  text-align: center;
  padding: 50px;
 
}
.subscribe__content h2{
  font-size: 4em;
  margin-bottom: 0.8em;
}
.subscribe__content p {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  color: white;
}
.letter__sub{
  width: 50%;
    text-align: center;
    margin: 0 auto;
}
.letter__sub input[type="email"]{
  padding: 15px;
  border: none;
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  outline: none;
  letter-spacing: 1px;
  height: 50px;
  width: 50%;
}
.letter__sub button{
  margin: 0.8em 0 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    padding: 6px 50px;
    border: 1px solid #000;
    outline: none;
    background-color: #000;
    border-radius: 0px;
    transition: all .5s;
    cursor: pointer;
}
.letter__sub button:hover{
  background-color: #dfdfdf;
  color: black;
}

/* Aggents */

.agents{
  text-align: center;
  padding:95px 0;
}
.agents h2{
  margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
}
.agents__content{
  display: flex;
  justify-content: center;
}
.agents__item{
  padding: 0 15px;
}
.agents__description{
  width: 100%;
  background: rgba(0, 0, 0,0.75);
  text-align: center;
  padding: 1.5em 1em 0.2em 1em;
  
}
.agents__description h4{
  color: #00cdce;
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.agents__description h4:hover{
  color: white;
}
.agents__description p{
  color: #FFFFFF;
    font-size: .7em;
   margin-bottom: 15px;
}
.agents__description>ul>li{
  list-style: none;
  display: inline-block;
  margin: 0 6px;
}
.agents__description  i.fab.fa-facebook-f{
  color: white;
  height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    font-size: 15px;
    transition: all .5s;
}
.agents__description  i.fab.fa-twitter{
  color: white;
  height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    font-size: 15px;
   
}
.agents__description  i.fa.fa-wifi{
  color: white;
  height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    font-size: 15px;
    margin: 0;
}
.agents__description i.fab.fa-facebook-f:hover{
background-color: #3b5998;
}
.agents__description i.fab.fa-twitter:hover{
  background-color: #55acee;
}
.agents__description i.fa.fa-wifi:hover{
  background: #f26522;
}
/* Contact */
.contact .map{
  border: 2px solid #00B6E3;
  padding: 1em;
  background: #bbb;
}
.map iframe{
  width: 100%;  
}

.contact__content{
  margin: 70px 0;
  text-align: center; 
}
.contact__content h2{
  font-size: 4em;
  padding-bottom: 20px;
}
.contact__form form{
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 15px 30px;
}
.contact__left{
  display: grid;
  grid-template-columns: 1;
  }
  .contact__left input{
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 1em;
    padding: 0.8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
    /* display: inline-block; */
  }
  .contact__right textarea {
    display: grid;
    grid-row: 1 / span 4;
    /* padding: 15px;  */
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 1em;
    padding: 0.8em 1em;
    margin-bottom: 1.75em;
    border: none;
    border-bottom: solid 2px #999;
    /* display: inline-block; */
  }
  .contact__right input{
    text-align: center;
    width: 100%;
   
    color: white;
    background-color: #000;
    border: 2px solid black;
   
    padding: 0.7em 5em;
    transition: all .5s;
    cursor: pointer;
   } 
   .contact__right input:hover{
     background-color: #00cdce;
     border-color: #00cdce;
   }
   /* Footer */
   .footer{
     background-color: #00cdce;
     padding: 52px;
    
   }
   .footer__content{
     width: 65%;
     margin: 0 auto;
     display: flex;
     justify-content: space-around;
   }
   .footer__content p{
     color: white;
     font-style: 15px;
   }
   .footer__content>p>a{
     color: red;
     transition: all .5s;
     text-decoration: none;
   }
   .footer__social>a>i.fab.fa-facebook-f,.fab.fa-twitter,.fa.fa-wifi,.fab.fa-vk{
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    line-height: 33px;
    margin: 0.5em;
    font-size: 19px;
    transition: all .5s;
    color: white;
    text-align: center;
   }
   .footer__content a:hover{
     color: white;
   }
   .footer__social a:first-child:hover i{
    color: #3B5998;
  }
  .footer__social a:nth-child(2):hover i{
    color: #00B6E3;
  }
  .footer__social a:nth-child(3):hover i{
    color: #E06024;
  }
  .footer__social a:nth-child(4):hover i{
    color: #45668E;
  }
  /* Back to top */
  .backToTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
  }
  .backToTop i{
    color:  #3B5998;
    border: 2px solid #3B5998;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    
  }
  /* // back-to-top button visible */ 
  .cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  /* // reduce button opacity if user keeps scrolling */
  .cd-top--fade-out { 
    opacity: .5;
  }




